%h1 Welcome
- @challenges.each do |challenge|
  .panel.panel-default
    .panel-body
      = challenge.title
      = link_to 'Start', start_challenge_path(challenge), class: 'btn btn-principal', method: :post
